# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Environment/IDE
.env
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Arduino
*.hex
*.elf
*.bin

# Logs
*.log

# Test results
*.out

# Python packaging
*.egg-info/
dist/
build/
